#footer{
    display: grid;
    background: var(--primary);
    color: var(--gray);
    padding: 1rem 0 0 0;
    position: relative;
}
.footer-socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: var(--gray);
    padding: 0;
}
.footer-icons,
.footer-description{
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 2rem 0;
    --icon:var(--gray);
}
.footer-description{
    width: 100%;
}
.footer-icon:hover{
    --icon:var(--white);
}
.footer-icon{
    width: 2rem;
}
.footer-description li{
    margin-bottom: 1rem;
    width: 15rem;
}
.footer-attribution{
    text-align: center;
    background: var(--gray);
    padding: 2rem 1rem;
}
.footer-attribution p{
    color: var(--white);
    font-size: .8rem;
}
.footer-attribution a,
.footer-owner{
    color: var(--white);
    font-weight: 600;
}
hr{
    background: var(--gray);
    border: .05rem solid var(--gray);
}