#header{
    position: relative;
}
.header-container{
    display: grid;
    grid-template-columns: 1fr;
    height: 70vh;
    gap: 3rem;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
    z-index: 2;
}
.title-keyword{
    color: var(--primary);
}
.header-description{
    display: grid;
    gap: 2rem;    
    justify-items: center;
}
.header-img-container{
    display: none;
}
.header-nombre{
    color: var(--primary);
}
.header-wpp-btn,
.header-img{
    border-radius: .5rem;
}
.header-wpp-btn{
    padding: 0.4rem .9rem;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 1rem;
    border: var(--primary-light) 0.05rem solid;
    background: var(--primary-light);
    width: 12rem;
}
.header-wpp-btn:hover{
    background:var(--gray);
    color:var(--primary-light);
}
.header-wpp-btn:hover .header-wpp-icon{
    --icon:var(--primary-light);

}
.header-wpp-icon{
    width: 2rem;
    --icon:var(--white);
    color: var(--primary-light);
}
.header-img{
    width: 30rem;
}

.header-wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
@media only screen and (min-width:67rem){
    .header-container{
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        text-align: left;
        justify-items: left;
    }
    .header-img-container{
        display: block;
    }
    .header-description{
        justify-items: left;
    }
}