.title-keyword{
    color: var(--primary);
}
.header-wpp-btn{
    padding: 0.4rem .9rem;
    color: var(--primary-light);
    display: flex;
    align-items: center;
    gap: 1rem;
    border: var(--primary-light) 0.15rem solid;
    border-radius: 1rem;
    width: 12rem;
}
.header-wpp-icon{
    width: 2rem;
    --icon:var(--primary-light);
}