#header{
    position: relative;
}
.header-container{
    display: grid;
    grid-template-columns: 1fr;
    min-height: 70vh;
    gap: 3rem;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
    z-index: 2;
    padding-top: 10rem;
}
.logo-img{
    height: 2.5rem;
    width: auto;
}
.title-keyword{
    color: var(--primary);
}
.header-description{
    display: grid;
    gap: 2rem;    
    justify-items: center;
}
.header-img-container{
    grid-row: 1;
}
.header-nombre{
    color: var(--primary-light);
}
.header-wpp-btn,
.header-img{
    border-radius: .5rem;
}
.header-wpp-btn{
    padding: 0.4rem .9rem;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 1rem;
    border: var(--primary-light) 0.05rem solid;
    background: var(--primary-light);
    width: 12rem;
}
.header-wpp-btn:hover{
    background:var(--gray);
    color:var(--primary-light);
}
.header-wpp-btn:hover .header-wpp-icon{
    --icon:var(--primary-light);

}
.header-wpp-icon{
    width: 2rem;
    --icon:var(--white);
    color: var(--primary-light);
    animation: whatsapp 2s ease-in-out infinite;
}
.header-img{
    width: 90%;
    max-width: 30rem;
    animation: imageheader 2s ease-in-out infinite;
}

.header-wave{
    position: absolute;
    bottom: -.2rem;
    width: 100%;
    z-index: -1;
}
@keyframes whatsapp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    0% {
        transform: scale(1);
      }
 }
 @keyframes imageheader {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
    }
    0% {
        transform: translateY(0);
      }
 }
@media only screen and (min-width:67rem){
    .header-container{
        grid-template-columns: 1fr 1fr;
        min-height: 100vh;
        text-align: left;
        padding-top: 0;
        justify-items: left;
    }
    .header-img-container{
        display: block;
    }
    .header-description{
        justify-items: left;
    }
}