@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lexend+Deca:wght@300;600&display=swap');
:root{
    --primary:#e06e52;
    --primary-light:#7BF0F8;
    --primary-dark:#368f96;
    --gray-light:#393E44;
    --gray:#12151f;
    --gray-blue:#A8B6C7;
    --blue-light:rgba(182, 193, 238, 0.3);
    --white:#FDFDFD;
    --white-light:#FFFFFF;
    --icon:var(--primary);
}
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    /* background: linear-gradient(var(--blue-dark) 0%,40%,var(--gray)100%); */
    background: var(--gray);
    font-family: 'Lexend Deca', sans-serif;
    color: var(--gray-blue);
    height: 100%;
    font-size: 16px;
}
p,button,input{
    font-size: 1rem;
}
h1,h2,h3{
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 1rem;
}
h1{
    color: var(--white-light);
    line-height: 3rem;
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h2,h3{
    color: var(--primary);
}
a{
    text-decoration: none;
}
header,
main{
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
}
ul{
    list-style: none;
}