@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lexend+Deca:wght@300;600&display=swap');
:root{
    --primary:#25C9D3;
    --primary-light:#7BF0F8;
    --gray-light:#393E44;
    --gray:#212428;
    --gray-dark:#1E1E1E;
    --gray-blue:#A8B6C7;
    --blue-light:rgba(182, 193, 238, 0.3);
    --blue:#4A6AF8;
    --blue-dark:#4961CE;
    --white:#FDFDFD;
    --white-light:#FFFFFF;
    --icon:var(--primary);
}
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(var(--blue-dark),var(--gray));
    font-family: 'Lexend Deca', sans-serif;
    color: var(--gray-blue);
    height: 100%;
}
h1,h2,h3{
    font-family: 'Bungee', cursive;
}
h1{
    color: var(--white-light);
    line-height: 3rem;
}
h2,h3{
    color: var(--primary);
}
a{
    text-decoration: none;
}
header,
main{
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
}