@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lexend+Deca:wght@300;600&display=swap');
:root{
    --primary:#fd9f52;
    --primary-light:#5368df;
    --gray-light:#1f2027;
    --gray:#070a0e;
    /* --gray:#050b1f; */
    --gray-blue:#A8B6C7;
    --blue-light:#d8dcf1;
    --white:#faf6f1;
    --white-light:#fdfdfd;
    --icon:var(--primary);

}
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all .4s ease-in-out;
}
body{
    background: var(--gray);
    font-family: 'Lexend Deca', sans-serif;
    color: var(--gray-blue);
    height: 100%;
    font-size: 16px;
    position: relative;
}
p,button,input{
    font-size: 1rem;
}
h1,h2,h3{
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 1rem;
}
h1{
    color: var(--white-light);
    line-height: 3rem;
    font-size: 2.4rem;
}
h2{
    color: var(--gray);
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h3{
    color: var(--primary);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
@media only screen and (min-width:67rem){
    h1{
        font-size: 2.8rem;
    }h2{
        font-size: 2.2rem;
    }
}