
#navbar{
    background: var(--gray);
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}
.navbar-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    text-align: center;
    
}
.navbar-link{
    color: var(--white);
    font-size: 0.9rem;
    padding: 1rem;
    border: solid .1rem transparent;
}
.navbar-link:hover{
    color: var(--primary);
    border: solid .1rem var(--primary);
    border-radius: .5rem;
}
@media only screen and (min-width:67rem){
    #navbar{
        padding: 2rem 5rem;
    }
    .navbar-links{
        display: grid;
        grid-auto-flow: column;
        gap: 7rem;
    }
}